.top-nav-bar {
	background-color: #0D3034;
}
.top-nav-bar .navbar-light .navbar-brand .brand-logo {
	width: 35px;
	position: absolute;
	top: 38px;
	left: 88px;
	z-index: 1;
}
.top-nav-bar .navbar-light .navbar-toggler {
	border: 0;
}
.top-nav-bar .navbar-light .navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
	width: 40px;
	height: 25px;
}
.top-nav-bar .navbar-light .navbar-nav .nav-item:first-child,
.top-nav-bar .navbar-light .navbar-nav .nav-item:nth-child(2) {
	margin-right: 40px;
}
.top-nav-bar .navbar-light .navbar-nav .nav-link {
	font-size: 15px;
	color: #FFFFFF;
	transition: color 0.3s ease-in-out;
}
.top-nav-bar .navbar-light .navbar-nav .nav-link:hover,
.top-nav-bar .navbar-light .navbar-nav .nav-link.active {
	color: #F3764B;
}

@media only screen and (max-width: 480px) {
	.top-nav-bar {
		background-color: #002326;
	}
	.top-nav-bar .navbar-light .navbar-brand .brand-logo {
		width: 30px;
		position: initial;
		top: auto;
		left: auto;
	}
	.top-nav-bar .navbar-light .navbar-nav .nav-link {
		font-size: 13px;
	}
}
