.share-request-url-container {
	width: 600px;
	margin-top: 30px;
}
.share-request-url-container label {
	text-transform: none;
	color: #002326;
	font-family: DIN;
	font-size: 17px;
	line-height: 25px;
	opacity: 1;
}
.share-request-url-container .gray {
	padding: 20px;
	background-color: #F5F5F5;
}
.share-request-url-container .row .image-container {
	min-height: 100px;
	background-color: rgba(45,58,59,0.28);
}
.share-request-url-container .share-buttons-container {
	margin: 10px;
}
.share-request-url-container .share-buttons-container .share-button {
	display: inline;
	margin: 10px;
	cursor: pointer;
}
.share-request-url-container .form-group {
	margin-left: 10px;
}
.share-request-url-container .form-group input[name="request-url"] {
	height: 46px;
	font-size: 17px;
}
.share-request-url-container .form-group .button {
	min-width: auto;
	width: 100%;
}

@media only screen and (max-width: 480px) {
	.share-request-url-container {
		width: 100%;
	}
	.share-request-url-container .share-buttons-container {
		text-align: center;
	}
	.share-request-url-container .form-group {
		margin-left: 0;
	}
	.share-request-url-container .form-group input[name="request-url"] {
		width: 100%;
		margin-bottom: 20px;
	}
}
