.row.dashboard-metrics {
	width: 600px;
}
.row.dashboard-metrics .value,
.row.dashboard-metrics .label {
	color: #002326;
	font-family: DIN-Bold;
	font-size: 17px;
	line-height: 25px;
}
.row.dashboard-metrics .label {
	opacity: 0.5;
}
@media only screen and (max-width: 480px) {
	.row.dashboard-metrics {
		width: 100%;
	}
}
