.debt-order-history-container {
	margin-top: 30px;
}
.debt-order-history-container .title {
	color: #002326;
	font-size: 17px;
	line-height: 25px;
	margin-bottom: 20px;
}
.debt-order-history-container .debt-order-history-table th {
	opacity: 0.5;
	color: #002326;
	font-size: 17px;
	line-height: 25px;
	text-transform: uppercase;
}
.debt-order-history-container .debt-order-history-table thead th {
	border-top: 0;
	border-bottom: 4px solid #F0F0F0;
}
.debt-order-history-container .debt-order-history-table td {
	border: 0;
}
.debt-order-history-container .debt-order-history-table .terms {
	font-family: DIN-Bold;
	text-transform: uppercase;
}
@media only screen and (max-width: 480px) {
	.debt-order-history-container .debt-order-history-table {
		font-size: 11px;
	}
	.debt-order-history-container .debt-order-history-table th {
		font-size: 13px;
	}
}
