.request-loan-summary-container {
	width: 600px;
	margin-top: 30px;
}
.request-loan-summary-container label.title {
	text-transform: none;
	color: #002326;
	font-family: DIN;
	font-size: 17px;
	line-height: 25px;
	opacity: 1;
}
.request-loan-summary-container .gray {
	padding: 20px;
	background-color: #F5F5F5;
}
.request-loan-summary-container .info-item {
	margin-bottom: 30px;
}
.request-loan-summary-container .info-item .title {
	font-family: DIN-Bold;
	opacity: 0.5;
	color: #002326;
	font-size: 15px;
	font-weight: bold;
	line-height: 25px;
}
.request-loan-summary-container .info-item .content {
	margin-top: 5px;
	font-family: DIN;
	opacity: 1;
	color: #002326;
	font-size: 18px;
	font-weight: bold;
	line-height: 25px;
}
.request-loan-summary-container .summary-json-container {
	width: 100%;
	position: relative;
}
.request-loan-summary-container textarea[name="summary-json"] {
	width: 100%;
	min-height: 150px;
}
.request-loan-summary-container .button {
	position: absolute;
	right: 0;
	bottom: 0;
	min-width: auto;
}
@media only screen and (max-width: 480px) {
	.request-loan-summary-container {
		width: 100%;
		margin-top: 45px;
	}
	.request-loan-summary-container .button {
		margin-top: 20px;
		position: relative;
		right: auto;
		bottom: auto;
		width: 100%;
	}
}
