.right-container {
	position: relative;
	margin: 53px 0 0 213px;
	width: -webkit-calc(100% - 213px) !important;
	width:    -moz-calc(100% - 213px) !important;
	width:         calc(100% - 213px) !important;
	flex: none !important;
}
.right-container .main-wrapper {
	padding: 50px;
}
@media only screen and (max-width: 480px) {
	.right-container {
		position: static !important;
		margin: 0;
		width: 100%;
		flex: 0 0 100% !important;
	}
	.right-container .main-wrapper {
		padding: 15px;
	}
}
