@media only screen and (max-width: 480px) {
	.row.active-investment-container .repayment-container .date-container .strikethrough:before {
		top: -5px;
		width: 46px;
	}
	.row.active-investment-container .repayment-container .date-container .repayment-date,
	.row.active-investment-container .repayment-container .date-container .more {
		font-size: 11px;
	}
}
