.right-container {
	position: fixed !important;
	margin-left: 221px;
	width: -webkit-calc(100% - 221px) !important;
	width:    -moz-calc(100% - 221px) !important;
	width:         calc(100% - 221px) !important;
}
.right-container .main-wrapper {
	padding: 30px;
}
@media only screen and (max-width: 480px) {
	.right-container {
		position: static !important;
		margin-left: 0;
		width: 100%;
	}
	.right-container .main-wrapper {
		padding: 15px;
	}
}
