.get-notified-form {
	width: 600px;
}
.get-notified-form label {
	text-transform: none;
	color: #002326;
	font-family: DIN;
	font-size: 17px;
	line-height: 25px;
	opacity: 1;
}
.get-notified-form .row {
	padding: 20px;
	background-color: #F5F5F5;
}
.get-notified-form input[name="email"] {
	height: 46px;
	font-size: 17px;
}
.get-notified-form .button {
	min-width: auto;
	width: 100%;
}

@media only screen and (max-width: 480px) {
	.get-notified-form {
		width: 100%;
	}
	.get-notified-form input[name="email"] {
		width: 100%;
		margin-bottom: 20px;
	}
}
