.left-form {
	padding-right: 20px !important;
}
.left-form label.radio-container.no-label {
	width: 30px;
}
.left-form label.radio-container.no-label .no-label {
	display: none;
}
.left-form label.radio-container.no-label .checkmark {
	top: -8px;
}
.left-form #request-custom-lockup-period {
	width: 120px;
	display: inline;
}
.left-form .button-container {
	margin-top: 30px;
}
.right-form {
	background-color: #F0F0F0;
	padding: 20px !important;
}
.right-form select.form-control {
	background-color: #F0F0F0 !important;
}

@media only screen and (max-width: 480px) {
	.form-container {
		margin-bottom: 45px;
	}
	.left-form label.radio-container {
		display: block;
		margin: 10px 0;
	}
	.left-form label.radio-container.no-label {
		display: inline;
		width: 30px;
	}
	.left-form label.radio-container.no-label .checkmark {
		top: 2px;
	}
	.left-form .button-container {
		position: fixed;
		width: 100%;
		bottom: 0;
		margin-left: -15px;
	}
	.left-form .button-container .button {
		width: 100%;
		z-index: 1;
	}
	.right-form {
		z-index: -1;
	}
}
